## Ignore some files and folders for copyright and other reasons. 

*.model
[Mm]odel_speech/m251
[Mm]odel_speech/

__pycache__
*.wav
*.model_yaml
Test_Report_*

data_pinyin.txt

testClient.py

webapi/
*.log

speech.tfkeras.h5
speech.tfkeras.h5.tflite
